<div id="sweetjobs-header" class="header-wrapper">
    <div class="header-container">
        <a routerLink="/" class="header-logo">
            <img src="/assets/images/logo.PNG">
        </a>
        <div class="navigation-container">
            <div class="main-navigation-container">
                <a class="navigation-link" routerLinkActive="active-navigation-link"
                    [routerLinkActiveOptions]="{ exact: true }" routerLink="/">Kezdőlap<span
                        class="navigation-link-bottom-border"></span></a>
            </div>
            <div class="auth-navigation-container">
                <a class="navigation-link" [ngClass]="isRegistrationOpen ? 'active-navigation-link' : ''" (click)="openRegistrationDialog()">Regisztráció<span
                        class="navigation-link-bottom-border"></span></a>
            </div>
        </div>
    </div>
</div>