@import 'variables.scss';
@import 'mixins.scss';
@import './header-mobile.component.scss';

.header-wrapper {
    @include default-container(100%, 90px);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: white;
}

.header-container {
    @include flex-container(space-between);
    @include default-container(1220px, auto, 10px, auto);
}

.header-logo {
    @include default-container(220px,70px);
    img{
        @include image-properties;
    }
}

.navigation-container{
    @include flex-container(space-between,center,20px);
    width: 100%;
    margin-left: 15%;
}

.auth-navigation-container{
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.navigation-link{
    color: $normal-color;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    font-family: $regular-font;
    transition: color 0.2s ease-in-out;
    @include flex-container(flex-start,center,20px)
}

.navigation-link:hover{
    color: $highlighted-color;
}

.active-navigation-link{
    color: $highlighted-color;
    font-family: $bold-font;
}

.no-profile-picture-image{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $highlighted-color;
    color: white;
    text-align:center;
    font-family: $bold-font;
    @include flex-container(center,center);
    cursor: pointer;
}

.profile-container{
    position: relative;
}

.main-navigation-container{
    @include flex-container(space-between,center, 30px);
}

.flag-image{
    width: 30px;
    height: 20px;
    object-fit: contain;
    display: inline-block;
}

.user-menu, .languages-menu, .profile-menu{
    position: absolute;
    z-index: 15;
    top: 45px;
    right: 0;
    background-color: white;
    display: grid;
    row-gap: 10px;
    padding: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.profile-menu{
    @include flex-container(space-between,center, 10px);
    min-width: 200px;
}

.languages-menu{
    display: grid;
    row-gap: 10px;
}

.profile-picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.big-image{
    width: 60px;
    height: 60px;
    cursor: initial;
}

.user-menu-container{
    position: relative;
}

.user-menu-icon {
    width: 32px;
    height: 32px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.2s ease-in-out;
    background-image: url('/assets/images/user-icon.jpg');
    cursor: pointer;
}

.logout-button{
    border: none;
    background-color:transparent;
    outline: none;
    padding: 0;
    margin-top: 10px;
}

.language-image{
    width: 32px;
    height: 32px;
    object-fit: contain;
    margin-top: 4px;
    cursor: pointer;
}

.languages-container{
    position: relative;
}

// .profile-links{
//     max-width: min-content;
// }