<div id="sweetjobs-header" class="header-wrapper" *ngIf="pageLoaded | async">
    <div class="header-container">
        <a routerLink="/" class="header-logo">
            <img src="/assets/images/logo.jpg">
        </a>
        <div class="navigation-container">
            <div class="main-navigation-container">
                <a *ngIf="isEmployer" class="navigation-link" routerLinkActive="active-navigation-link"
                    [routerLinkActiveOptions]="{ exact: true }" routerLink="/hirdeteseim">{{myJobsText}}</a>
            </div>
            <div class="auth-navigation-container">
                <div class="languages-container">
                    <img #languageButton (click)="openLanguges()" class="language-image" src="/assets/images/language.jpg">
                    <div #languageContainer class="languages-menu" *ngIf="isLanguagesOpen">
                        <div [ngClass]="language.key == activeLanguageKey ? 'active-navigation-link' : 'navigation-link'"
                            class="navigation-link" (click)="setLanguage(language)" *ngFor="let language of languages">
                            <img class="flag-image" [src]="language.flag">{{language.selectedTranslation.name}}
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="userLoggedIn; else loggedOut">
                    <div class="profile-container">
                        <div *ngIf="userData" class="no-profile-picture-image">
                            <img #profileButton (click)="openProfileMenu()"
                                *ngIf="userData.profilePicture; else noPicture" class="profile-picture"
                                [src]="userData.profilePicture">
                            <ng-template #noPicture>
                                <span #profileButton (click)="openProfileMenu()">{{userData.monogram}}</span>
                            </ng-template>
                        </div>
                        <div *ngIf="isProfileMenuOpen" #profileContainer class="profile-menu">
                            <div class="no-profile-picture-image big-image">
                                <img *ngIf="userData.profilePicture; else noPicture" class="profile-picture"
                                    [src]="userData.profilePicture">
                                <ng-template #noPicture>
                                    {{userData.monogram}}
                                </ng-template>
                            </div>
                            <div class="profile-links">
                                <a class="navigation-link" routerLinkActive="active-navigation-link"
                                    (click)="openProfileMenu()" [routerLinkActiveOptions]="{ exact: true }"
                                    routerLink="/profil">{{profileText}}</a>
                                <button class="logout-button navigation-link" (click)="logout()">{{logoutText}}</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-template #loggedOut>
                    <div class="user-menu-container">
                        <div #userButton (click)="openUserMenu()" class="user-menu-icon"></div>
                        <div #userContainer *ngIf="isUserMenuOpen" class="user-menu">
                            <a [ngClass]="isLoginOpen ? 'active-navigation-link' : 'navigation-link'"
                                (click)="openLoginDialog()">{{loginText}}</a>
                            <a [ngClass]="isRegistrationOpen ? 'active-navigation-link' : 'navigation-link'"
                                (click)="openRegistrationDialog()">{{registrationText}}</a>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>