<div id="sweetjobs-header" class="header-wrapper">
    <div class="header-container">
        <a routerLink="/" class="header-logo">
            <img src="/assets/images/logo.PNG">
        </a>
        <div class="navigation-container">
            <div class="main-navigation-container">
                <a class="navigation-link" routerLinkActive="active-navigation-link"
                    [routerLinkActiveOptions]="{ exact: true }" routerLink="/">Kezdőlap<span
                        class="navigation-link-bottom-border"></span></a>
            </div>
            <div class="auth-navigation-container">
                <ng-container *ngIf="userLoggedIn; else loggedOut">
                    <div class="profile-container">
                        <div *ngIf="userData" class="no-profile-picture-image" (click)="openProfileMenu()">
                            {{userData.monogram}}
                        </div>
                        <div *ngIf="isProfileOpen" class="profile-menu">
                            <div class="no-profile-picture-image big-image">
                                {{userData.monogram}}
                            </div>
                            <div>
                                <a class="navigation-link" routerLinkActive="active-navigation-link" (click)="openProfileMenu()"
                                    [routerLinkActiveOptions]="{ exact: true }" routerLink="/profile">Profil<span
                                        class="navigation-link-bottom-border"></span></a>
                                <button class="logout-button navigation-link" (click)="logout()">Kijelentkezés</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-template #loggedOut>
                    <div class="user-menu-container">
                        <div (click)="openUserMenu()" [ngClass]="isUserMenuOpen ? 'user-menu-icon-active':'user-menu-icon'" class="user-menu-icon"></div>
                        <div *ngIf="isUserMenuOpen" class="user-menu">
                            <a [ngClass]="isLoginOpen ? 'active-navigation-link' : 'navigation-link'"
                                (click)="openLoginDialog()">Bejelentkezés<span class="navigation-link-bottom-border"></span></a>
                            <a [ngClass]="isRegistrationOpen ? 'active-navigation-link' : 'navigation-link'"
                                (click)="openRegistrationDialog()">Regisztráció<span
                                    class="navigation-link-bottom-border"></span></a>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>