@import 'variables.scss';
@import 'mixins.scss';

.header-wrapper {
    @include default-container(100%, 90px);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

.header-container {
    @include flex-container(space-between);
    @include default-container(1220px, auto, 10px, auto);
}

.header-logo {
    @include default-container(220px,70px);
    img{
        @include image-properties;
    }
}

.navigation-container{
    @include flex-container(space-between,center,20px);
}

.auth-navigation-container{
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.navigation-link{
    color: $normal-color;
    text-decoration: none;
    font-size: 18px;
    padding-bottom: 5px;
    cursor: pointer;
    font-family: $regular-font;
}

.navigation-link-bottom-border{
    width: 0;
    height: 2px;
    display: block;
    overflow: hidden;
    transition: width 0.2s ease-in-out;
    background-color: $highlighted-color;
    margin-top: 5px;
}

.navigation-link:hover{
    .navigation-link-bottom-border{
        width: 100%;
    }
}

.active-navigation-link{
    color: $highlighted-color;
    font-family: $bold-font;
    border-bottom: 2px solid $highlighted-color;
}

.no-profile-picture-image{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $highlighted-color;
    color: white;
    text-align:center;
    font-family: $bold-font;
    @include flex-container(center,center);
    cursor: pointer;
}