<div id="sweetjobs-footer" class="footer-wrapper">
    <div class="footer-container">
        <div class="footer-info">
            <div class="company-images">
                <!-- <img class="company-logo" src="/assets/images/logo.jpg"> -->
                <div class="company-title">Sweet Jobs</div>
                <div class="company-subtitle">It's the dream fizz that does the bizz</div>
                <div class="company-socials">
                    <img src="/assets/images/facebook-icon.svg" class="social-icon">
                    <img src="/assets/images/instagram-icon.svg" class="social-icon">
                    <img src="/assets/images/twitter-icon.svg" class="social-icon">
                    <img src="/assets/images/linkedin-icon.svg" class="social-icon">
                </div>
            </div>
            <div class="company-info">
                <div class="company-info-element">1031 Budapest Miklós tér 1.</div>
                <div class="company-info-element">+36123456798</div>
                <div class="company-info-element">test@comapany.com</div>
            </div>
        </div>
    </div>
    <div class="footer-rights">
        © 2021 SweetJobs All rights reserved.
    </div>
</div>
