<div id="sweetjobs-footer" class="footer-wrapper" *ngIf="pageLoaded | async">
    <div class="footer-container">
        <div class="footer-info">
            <div class="company-images">
                <!-- <img class="company-logo" src="/assets/images/logo.jpg"> -->
                <div class="company-title">{{companyName}}</div>
                <div class="company-subtitle">{{companyBrandText}}</div>
                <div class="company-socials">
                    <a target="_blank" class="social-icon" *ngIf="facebook.selectedTranslation" [href]="facebook.selectedTranslation.title"><img src="/assets/images/facebook-icon.svg"></a>
                    <a target="_blank" class="social-icon" *ngIf="instagram.selectedTranslation" [href]="instagram.selectedTranslation.title"><img src="/assets/images/instagram-icon.svg"></a>
                    <a target="_blank" class="social-icon" *ngIf="twitter.selectedTranslation" [href]="twitter.selectedTranslation.title"><img src="/assets/images/twitter-icon.svg"></a>
                    <a target="_blank" class="social-icon" *ngIf="linkedin.selectedTranslation" [href]="linkedin.selectedTranslation.title"><img src="/assets/images/linkedin-icon.svg"></a>
                </div>
            </div>
            <div class="company-info">
                <div class="company-info-element">{{companyAddress}}</div>
                <div class="company-info-element">{{companyPhone}}</div>
                <div class="company-info-element">{{companyEmail}}</div>
            </div>
        </div>
    </div>
    <div class="footer-rights">
        © {{dateYear}} {{copyRightsText}}
    </div>
</div>
