<div id="sweetjobs-profile-basic-info" class="side-menu-router-outlet-container" *ngIf="pageLoaded | async">
    <div class="side-menu-router-outlet-title">{{preferedCategoriesText}}</div>
    <div class="profile-categories-wrapper">
        <div class="profile-categories-container">
            <div class="side-menu-title custom-title">{{selectedCategoriesText}}<button (click)="saveCategories()"
                    class="submit-button little-button">{{saveButtonText}}</button></div>
            <div class="selected-categories-container">
                <div *ngFor="let category of selectedCategories">
                    <span class="selected-category"
                        *ngIf="category.selectedTranslation">{{category.selectedTranslation.text}}
                        <img src="/assets/images/trash-icon.svg" class="category-close-button"
                            (click)="removeCategory(category)">
                    </span>
                </div>
            </div>
            <div class="side-menu-title custom-title">{{allCategoryText}}</div>
            <div class="categories-container">
                <div (click)="addOrRemoveCategory(category)" *ngFor="let category of categories"
                    [ngClass]="checkCategoryIsSelected(category) ? 'profile-button-active': 'profile-category-button'">
                    <span *ngIf="category.selectedTranslation">{{category.selectedTranslation.text}}</span>
                </div>
            </div>
        </div>
    </div>
</div>