<div id="profile-dialog" class="dialog-container" *ngIf="pageLoaded | async">
    <div class="close-button" (click)="closeDialog()">X</div>
    <div class="profile-container">
        <img class="picture-container" *ngIf="data.Profile.profilePicture;else noProfilePic"
            [src]="data.Profile.profilePicture">
        <ng-template #noProfilePic>
            <div class="picture-container no-picture">{{data.lastName[0]}}{{data.firstName[0]}}</div>
        </ng-template>
        <div class="user-name side-menu-title">{{data.lastName}} {{data.firstName}}</div>
        <div class="info-container">
            <div class="info-title side-menu-regular-text bold-style">{{emailLabelText}}</div>
            <div class="info-value side-menu-regular-text">{{data.email}}</div>
        </div>
        <div class="info-container" *ngIf="data.Profile.phone">
            <div class="info-title side-menu-regular-text bold-style">{{phoneLabelText}}</div>
            <div class="info-value side-menu-regular-text">{{data.Profile.phone}}</div>
        </div>
        <div class="info-container">
            <div class="info-title side-menu-regular-text bold-style">{{locationLabelText}}</div>
            <div class="info-value side-menu-regular-text">{{data.Profile.country}} {{data.Profile.zipcode}} {{data.Profile.city}} {{data.Profile.address}}</div>
        </div>
        <div class="info-container" *ngIf="data.Profile.expectedSalary">
            <div class="info-title side-menu-regular-text bold-style">{{expectedSalaryLabelText}}</div>
            <div class="info-value side-menu-regular-text">{{data.Profile.expectedSalary}}</div>
        </div>
        <div class="info-container" *ngIf="data.Profile.currentSalary">
            <div class="info-title side-menu-regular-text bold-style">{{currentSalaryLabelText}}</div>
            <div class="info-value side-menu-regular-text">{{data.Profile.currentSalary}}</div>
        </div>
        <a [href]="data.Profile.cvPath" class="side-menu-regular-text bold-style cv-name">{{cvName}}</a>
        <div *ngIf="data.Profile.description" class="description-container">
            <div class="info-title side-menu-regular-text bold-style">{{descriptionLabelText}}</div>
            <div class="description-info-value side-menu-regular-text">{{data.Profile.description}}</div>
        </div>
    </div>
</div>