<div id="my-jobs" class="side-menu-router-outlet-container" *ngIf="hunLanguage">
    <div class="side-menu-router-outlet-title">
        <ng-container *ngIf="isModify;else createTitle">{{modifyJobTitleText}}</ng-container>
        <ng-template #createTitle>{{createJobTitleText}}</ng-template>
        <div class="side-menu-regular-text custom-margin">{{jobSubtitleText}}</div>
    </div>
    <div class="side-menu-regular-text custom-margin" *ngIf="isModify">{{jobDropdownLabel}}</div>
    <div class="get-job-data-dropdown" *ngIf="isModify">
        <div class="selected-job-container side-menu-regular-text" (click)="isDropdownOpen=!isDropdownOpen">
            <span>{{selectedJob ? selectedJob.value : ''}} </span>
            <span [ngClass]="isDropdownOpen ? 'up-arrow' : 'down-arrow'"></span>
        </div>
        <div class="dropdown-values" *ngIf="isDropdownOpen">
            <div class="dropdown-element side-menu-regular-text" [ngClass]="i<jobDropdownData.length -1 ? 'border-class' : ''" *ngFor="let element of jobDropdownData;let i = index;" (click)="setDropdownData(element)">{{element.value}}</div>
        </div>
        <button (click)="setFormData()" class="submit-button little-button">Lekérdez</button>
    </div>
    <form [formGroup]="jobForm" (ngSubmit)="saveJob()" *ngIf="jobQueried" class="form flex-form">
        <div class="form-field-wrapper" *ngFor="let element of jobFormElements">
            <div [ngClass]="element.focus ? 'form-field-label-focused': 'form-field-label'">
                {{element.placeholder}}
            </div>
            <ng-container [ngSwitch]="element.fieldType">
                <div *ngSwitchDefault [ngClass]="element.focus ? 'form-field-focused': 'form-field'" class="form-field-width">
                    <input [id]="element.key" [value]="element.value" [type]="element.type!" (focus)="element.focus = true"
                        (focusout)="element.focus = false" [formControlName]="element.key"
                        [ngClass]="element.focus ? 'form-input-focused': 'form-input'">
                    </div>
                <div *ngSwitchCase="'file'" class="form-field-width flex-form file-form-field">
                    <a (click)="pictureUpload.click()" class="submit-button little-button">Kép kiválasztása</a>
                    <img *ngIf="imageUrl" [src]="imageUrl | sanitizer: 'resourceUrl'" class="file-input-image">
                    <input (change)="handleProfilePicture($event)" [formControlName]="element.key" #pictureUpload type="file" name="upload"
                    accept="image/*"  class="change-picture-input">
                </div>
            </ng-container>
            <div class="required-error-message"
                *ngIf="isUserClicked && jobForm.controls[element.key].hasError('required')">{{element.placeholder}}
                {{requiredFieldErrorText}}</div>
        </div>
        <div class="language-choose-container">
            <div class="languages-container">
                <div [ngClass]="hunLanguage.key==jobLanguageKey ? 'active-language' : 'normal-language'" (click)="setJobLanguageKey(hunLanguage.key)">
                    {{hunLanguage.selectedTranslation.name}}
                </div>
                <div [ngClass]="enLanguage.key==jobLanguageKey ? 'active-language' : 'normal-language'" (click)="setJobLanguageKey(enLanguage.key)">
                    {{enLanguage.selectedTranslation.name}}
                </div>
            </div>
            <div class="side-menu-subtitle">
                <ng-container *ngIf="jobLanguageKey == 'hu'; else englishSubtitleText">{{hunSubtitleText}}</ng-container>
                <ng-template #englishSubtitleText>{{enSubtitleText}}</ng-template>
            </div>
        </div>
        <ng-container *ngIf="jobLanguageKey == 'hu'; else englishContainer">
            <div formGroupName="huDetails" class="form-field-wrapper" *ngFor="let element of jobFormDetailElements">
                <div [ngClass]="element.focus ? 'form-field-label-focused': 'form-field-label'">
                    {{element.placeholder}}
                </div>
                <ng-container [ngSwitch]="element.fieldType">
                    <div *ngSwitchCase="'textarea'" [ngClass]="element.focus ? 'form-field-focused': 'form-field'"
                        class="form-field-full-width">
                        <textarea [id]="element.key" (focus)="element.focus = true" (focusout)="element.focus = false"
                            [formControlName]="element.key" [value]="element.value"
                            [ngClass]="element.focus ? 'form-textarea-focused': 'form-textarea'"
                            *ngSwitchCase="'textarea'"></textarea>
                    </div>
                    <div [ngClass]="element.widthClass ? 'form-field-full-width' : 'form-field-width'">
                        <div *ngSwitchDefault [ngClass]="element.focus ? 'form-field-focused': 'form-field'">
                            <input *ngSwitchDefault [id]="element.key" [value]="element.value" [type]="element.type!"
                                (focus)="element.focus = true" (focusout)="element.focus = false"
                                [formControlName]="element.key"
                                [ngClass]="element.focus ? 'form-input-focused': 'form-input'">
                        </div>
                    </div>
                </ng-container>
                <div class="required-error-message"
                    *ngIf="isUserClicked && jobForm.get(element.key)?.hasError('required')">{{element.placeholder}}
                    {{requiredFieldErrorText}}</div>
            </div> 
        </ng-container>
        <ng-template #englishContainer>
            <div formGroupName="enDetails" class="form-field-wrapper" *ngFor="let element of jobFormDetailElements">
                <div [ngClass]="element.focus ? 'form-field-label-focused': 'form-field-label'">
                    {{element.placeholder}}
                </div>
                <ng-container [ngSwitch]="element.fieldType">
                    <div *ngSwitchCase="'textarea'" [ngClass]="element.focus ? 'form-field-focused': 'form-field'"
                        class="form-field-full-width">
                        <textarea [id]="element.key" (focus)="element.focus = true" (focusout)="element.focus = false"
                            [formControlName]="element.key" [value]="element.value"
                            [ngClass]="element.focus ? 'form-textarea-focused': 'form-textarea'"
                            *ngSwitchCase="'textarea'"></textarea>
                    </div>
                    <div [ngClass]="element.widthClass ? 'form-field-full-width' : 'form-field-width'">
                        <div *ngSwitchDefault [ngClass]="element.focus ? 'form-field-focused': 'form-field'">
                            <input *ngSwitchDefault [id]="element.key" [value]="element.value" [type]="element.type!"
                                (focus)="element.focus = true" (focusout)="element.focus = false"
                                [formControlName]="element.key"
                                [ngClass]="element.focus ? 'form-input-focused': 'form-input'">
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-template>
        <button class="submit-button profile-submit-button">{{sendButtonText}}</button>
    </form>
</div>