@import 'variables.scss';

@media screen and (max-width: $mobile-width) {
    div.get-job-data-dropdown{
        flex-flow: wrap;
        row-gap: 15px;
        max-width: 440px;
    }

    button.little-button{
        margin: 0 0 0 auto;
    }

    div.languages-container{
        gap: 20px;
    }

    div.normal-language, div.active-language{
        padding: 5px 10px;
        font-size: 14px;
        line-height: 17px;
    }
}