@import 'variables.scss';
@import 'mixins.scss';
@import 'page-with-side-menu.scss';
@import 'form.scss';

.form-field-width{
    @include form-field-width(375px);
}

.language-choose-container{
    margin: auto;
    width: 100%;
    border-top: 2px solid #e8ecec;
    padding: 30px 0 20px 0;
}

.languages-container{
    margin: auto;
    @include flex-container(center, center, 50px);
}

.normal-language{
    padding: 10px 20px;
    border: 2px solid $highlighted-color;
    border-radius: 4px;
    color: $highlighted-color;
    cursor: pointer;
    font-family: $regular-font;
    font-size: 20px;
}

.active-language{
    padding: 10px 20px;
    border: 2px solid $hover-button-color;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-color: $hover-button-color;
    font-family: $bold-font;
    font-size: 20px;
}

.get-job-data-dropdown{
    margin: 20px auto;
    width: max-content;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    column-gap: 10px;
}

.selected-job-container{
    width: 300px;
    padding: 5px 10px;
    border-radius: 8px;
    border: 2px solid #e8ecec;
    min-height: 40px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-values{
    position: absolute;
    left: 0;
    top: 50px;
    border: 2px solid #e8ecec;
    border-radius: 8px;
    box-sizing: border-box;
    max-width: 300px;
    width: 100%;
    background-color: white;
    z-index: 10;
}

.dropdown-element{
    padding: 15px 10px;
    cursor: pointer;
}

.dropdown-element:hover{
    color: $highlighted-color;
    background-color: rgba($highlighted-color, 0.2);
}

.border-class{
    border-bottom: 2px solid #e8ecec;
}

.custom-margin{
    margin-top: 20px;
}

.category-dropdown-values{
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    z-index: 10;
    border: 2px solid #e8ecec;
    border-radius: 8px;
    box-sizing: border-box;
    max-width: 375px;
    width: 100%;
    max-height: 300px;
    overflow: auto;
}

.dropdown-form-field{
    cursor: pointer;
}