<div class="category-jobs-wrapper">
    <div class="side-menu-title">{{jobs[0].Category.selectedTranslation.text}}</div>
    <div class="side-menu-subtitle">{{jobs.length}} állás található ebben a kategóriában</div>
    <div class="category-jobs-container">
        <a [routerLink]="'/kategoria/'+categoryId+'/allas/'+job.id" class="category-job" *ngFor="let job of jobs">
            <img class="job-logo" [src]="job.logoUrl">
            <div class="job-title side-menu-subtitle">{{job.selectedTranslation.title}}</div>
            <div class="job-company">{{job.companyName}}</div>
        </a>
    </div>
</div>