@import 'variables.scss';
@media screen and (max-width: $mobile-width) {
    div.category-jobs-container{
        max-width: 915px;
        margin: auto;
    }

    a.category-job:hover{
        transform: none;
        background-color: transparent;
        border: 1px solid rgba($medium-color,0.2);
    }
}

@media screen and (max-width: 915px) {
    div.category-jobs-container{
        max-width: 610px;
    }
}

@media screen and (max-width: 610px) {
    div.category-jobs-container{
        max-width: 285px;
    }
}