<div id="sweetjobs-profile-basic-info" class="side-menu-router-outlet-container" *ngIf="pageLoaded| async">
    <div class="side-menu-router-outlet-title applied-jobs-title">{{appliedJobsTitleText}}</div>
    <div class="side-menu-subtitle applied-jobs-subtitle">{{appliedJobsSubtitleText}}</div>
    <div class="job-wrapper" *ngIf="appliedJobs.length > 0">
        <div class="job" *ngFor=" let element of appliedJobs">
            <a class="link-to-job-container" [routerLink]="'/kategoria/'+element.Job.categoryId+'/allas/'+element.Job.id">
                <img class="job-image" [src]="element.Job.logoUrl">
                <div>
                    <div class="job-title side-menu-regular-text">{{element.Job.selectedTranslation.title}}</div>
                    <div class="job-company side-menu-regular-text">{{element.Job.companyName}}</div>
                    <div class="job-category side-menu-regular-text">{{element.Job.Category.selectedTranslation.text}}</div>
                </div>
            </a>
            <div class="job-right-side">
                <div class="location-text side-menu-regular-text">Jelentkezés státusza: <span>{{element.AppliedUserStatus.selectedTranslation.text}}</span></div>
                <div class="location-container">
                    <img class="location-image" src="/assets/images/location-icon.PNG">
                    <div class="location-text side-menu-regular-text">{{element.Job.jobLocation}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
