<div id="sweetjobs-profile-basic-info" class="side-menu-router-outlet-container" *ngIf="pageLoaded | async">
    <div class="side-menu-router-outlet-title">{{changePasswordTitleText}}</div>
    <div *ngIf="passwordMismatch" class="response-error-message">
        <div>{{passwordMismatchErrorText}}</div>
        <button class="close-error-message" (click)="closeErrorMessage()">X</button>
    </div>
    <div *ngIf="passwordDoesntMatch" class="response-error-message">
        <div>{{passwordDoesntMatchErrorText}}</div>
        <button class="close-error-message" (click)="closeErrorMessage()">X</button>
    </div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="form flex-form">
        <div class="form-field-wrapper" *ngFor="let element of changePasswordFormElements">
            <div [ngClass]="element.focus ? 'form-field-label-focused': 'form-field-label'">{{element.placeholder}}
            </div>
            <div [ngClass]="element.focus ? 'form-field-focused': 'form-field'" class="form-field-full-width">
                <input [id]="element.key" [type]="element.type!" (focus)="element.focus = true"
                    (focusout)="element.focus = false" [formControlName]="element.key"
                    [ngClass]="element.focus ? 'form-input-focused': 'form-input'">
            </div>
            <div class="required-error-message"
                *ngIf="isUserClicked && changePasswordForm.controls[element.key].hasError('required')">
                {{element.placeholder}} {{requiredFieldErrorText}}</div>
        </div>
        <button type="submit" class="submit-button profile-submit-button">{{sendButtonText}}</button>
    </form>
</div>