<div id="job" class="page-container-with-side-menu flex-container" *ngIf="pageLoaded |async">
    <div class="job-left-side">
        <div class="job-header" *ngIf="job.selectedTranslation">
            <img class="job-image" [src]="job.logoUrl">
            <div>
                <div class="job-title side-menu-title">{{job.selectedTranslation.title}}</div>
                <div class="job-location side-menu-regular-text">{{job.jobLocation}}</div>
                <div class="contact-container">
                    <div class="job-contact-info">
                        <img src="/assets/images/email-icon.PNG">
                        <span>{{job.User.email}}</span>
                    </div>
                    <div class="job-contact-info">
                        <img src="/assets/images/website-icon.PNG">
                        <span>{{job.companyWebsite}}</span>
                    </div>
                    <div class="job-contact-info">
                        <img src="/assets/images/phone-icon.PNG">
                        <span>{{job.User.Profile.phone}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="job-big-title side-menu-title">{{aboutUsText}}</div>
        <div class="side-menu-regular-text" *ngIf="job.selectedTranslation">{{job.selectedTranslation.aboutUs}}</div>
        <div class="job-big-title side-menu-title">{{jobDescriptionText}}</div>
        <div class="side-menu-regular-text" *ngIf="job.selectedTranslation">{{job.selectedTranslation.jobDescription}}</div>
    </div>
    <div class="job-right-side" *ngIf="job.selectedTranslation">
        <button class="submit-button custom-margin">{{applyJobButtonText}}</button>
        <div class="job-right-side-info-container">
            <div class="job-title side-menu-title custom-padding">{{jobOverviewText}}</div>
            <div class="job-right-side-info-element">
                <img class="info-icon" src="/assets/images/language.jpg">
                <div class="job-right-side-info">
                    <div class="side-menu-regular-text bold-style">{{paymentText}}</div>
                    <div class="job-info-regular-text">{{job.selectedTranslation.payment}}</div>
                </div>
            </div>
            <div class="job-right-side-info-element">
                <img class="info-icon" src="/assets/images/language.jpg">
                <div class="job-right-side-info">
                    <div class="side-menu-regular-text bold-style">{{jobTypeText}}</div>
                    <div class="job-info-regular-text">{{job.selectedTranslation.jobType}}</div>
                </div>
            </div>
            <div class="job-right-side-info-element">
                <img class="info-icon" src="/assets/images/language.jpg">
                <div class="job-right-side-info">
                    <div class="side-menu-regular-text bold-style">{{experienceText}}</div>
                    <div class="job-info-regular-text">{{job.selectedTranslation.experience}}</div>
                </div>
            </div>
            <div class="job-right-side-info-element">
                <img class="info-icon" src="/assets/images/language.jpg">
                <div class="job-right-side-info">
                    <div class="side-menu-regular-text bold-style">{{qualificationText}}</div>
                    <div class="job-info-regular-text">{{job.selectedTranslation.qualification}}</div>
                </div>
            </div>
            <div class="job-right-side-info-element">
                <img class="info-icon" src="/assets/images/language.jpg">
                <div class="job-right-side-info">
                    <div class="side-menu-regular-text bold-style">{{languageText}}</div>
                    <div class="job-info-regular-text">{{job.selectedTranslation.language}}</div>
                </div>
            </div>
        </div>
    </div>
</div>