@import './mixins.scss';
@import './variables.scss';

.form{
    min-width: 400px;
    width: 100%;
    padding: 30px 0;
    display: block;
}

@mixin form-field-width($width: 100%){
    width: $width;
    box-sizing: border-box;
}

.flex-form{
    @include flex-container(space-between, center);
    flex-flow: wrap;
}

.form-field-width{
    @include form-field-width(375px);
}

.form-field-full-width{
    @include form-field-width(840px);
}

.down-arrow{
    border-top: 6px solid #a8a8a8;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    display: inline-block;
}

.up-arrow{
    border-bottom: 6px solid #a8a8a8;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    display: inline-block;
}

.up-arrow-highlighted{
    border-bottom: 6px solid $highlighted-color;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    display: inline-block;
}

.form-field,.form-field-focused {
    margin-bottom: 5px;
    border-radius: 8px;
    border: 2px solid #e8ecec;
    padding: 16px 40px 16px 16px;
    transition: border 0.2s ease-in-out;
    position: relative;
    span{
        position:absolute;
        right: 10px;
        top: 23px;
    }
}

.form-field-focused{
    border: 2px solid $highlighted-color;
}

.form-input, .form-input-focused, .form-textarea, .form-textarea-focused{
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    font-family: $regular-font;
    color: $normal-color;
    font-size: 14px;
    line-height: 17px;
    transition: color 0.2s ease-in-out;
}

.form-input-focused, .form-textarea-focused{
    color: $highlighted-color;
}

.form-input::placeholder, .form-textarea::placeholder{
    font-family: $regular-font;
    color: $normal-color;
    transition: color 0.2s ease-in-out;
}

.form-input-focused::placeholder, .form-textarea-focused::placeholder{
    color: $highlighted-color;
    opacity: 1;
    font-family: $bold-font;
    transition: color 0.2s ease-in-out;
}

.file-input-text{
    margin: 10px 0;
    font-family: $bold-font;
    color: $hover-button-color;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
}

.submit-button{
    @include flex-container(center);
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    background-color: $button-color;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 50px;
    cursor: pointer;
    font-family: $bold-font;
    transition: background-color 0.3s ease-in-out;
    box-sizing: border-box;
    @include default-container(100%, 60px);
}

.submit-button:hover, .submit-button-active{
    background-color: $hover-button-color;
    color: white;
}

.form-field-wrapper{
    margin-bottom: 20px;
}

.required-error-message{
    font-size: 12px;
    font-family: $bold-font;
    color: red;
    margin-left: 5px;
}

.response-error-message{
    @include default-container(auto, auto, 10px 20px, 10px auto);
    @include flex-container(center,center,20px);
    border: 2px solid red;
    border-radius: 8px;
    color: red;
    text-transform: uppercase;
    font-family: 'MonsterRatBold';
    text-align: center;
}

.file-form-field{
    box-sizing: border-box;
}

.change-picture-input{
    display: none;
}

.file-input-image{
    width: 120px;
    height: 100%;
    object-fit: contain;
}

.close-error-message{
    border: 2px solid red;
    background-color: red;
    color: white;
    font-family: 'MonsterRatBold';
    cursor: pointer;
    padding: 3px 6px;
    border-radius: 2px;
}

.form-field-label{
    font-family: $regular-font;
    font-size: 20px;
    color: $normal-color;
    line-height: 24px;
    margin: 0 0 10px 10px;
}

.form-field-label-focused{
    font-family: $bold-font;
    font-size: 20px;
    color: $highlighted-color;
    line-height: 24px;
    margin: 0 0 10px 10px;
}

.form-textarea-field{
    box-sizing: border-box;
    width: 770px;
    padding: 16px;
}

.little-button{
    width: auto;
    padding: 10px 20px;
    height: auto;
    margin: 0;
}

.form-field-center{
    margin: 0 auto 20px auto;
}