@import 'variables.scss';

@media screen and (max-width: $mobile-width) {
    form.form{
        min-width: 0;
    }

    div.form-field-width{
        width: 100%;
    }

    div.form-field-full-width{
        width: 100%;
    }

    button.submit-button{
        height: 50px;
    }

    button.submit-button{
        margin: 20px auto 0 auto;
    }

    div.form-field-label, div.form-field-label-focused{
        font-size: 16px;
        line-height: 19px;
        margin-left: 0;
    }

    div.form-field, div.form-field-focused{
        padding: 10px 15px;
        span{
            top: 18px;
        }
    }

    form.flex-form{
        display: block;
    }
}