@mixin flex-container($justify,$align-items: center, $gap: 0) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify;
    @if $gap != 0{
        column-gap: $gap;
    }
}

.close-button{
    position: absolute;
    z-index: 50;
    width: 50px;
    height: 50px;
    right: 0px;
    top: 0px;
    border-radius: 50%;
    color: white;
    font-family: $bold-font;
    @include flex-container(center);
    background-color: $hover-button-color;
    cursor: pointer;
}

@mixin default-container($max-width,$height: auto, $padding: 0, $margin: 0) {
    max-width: $max-width;
    width: 100%;
    @if $margin != auto{
        height: $height;
    }
    @if $margin != 0 {
        margin: $margin;
    }
    @if $padding != 0 {
        padding: $padding;
    }
    box-sizing: border-box;
}

@mixin image-properties{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

