@import 'variables.scss';

@media screen and (max-width: $mobile-width) {
    div.page-container-with-side-menu{
        display: block;
        padding: 50px 10px;
        margin: auto;
    }
    div.side-menu-container{
        display: none;
    }

    div.side-menu-router-outlet-container{
        max-width: 700px;
        width: 100%;
        margin: auto;
        padding: 20px 10px;
    }
}