//general variables
$regular-font: 'MonsterRat';
$italic-font: 'MonsterRatItalic';
$bold-font: 'MonsterRatBold';

$normal-color: #2e2e2e;
$medium-color: #888;
$highlighted-color: #8b91dd;
$button-color: #0f36a5;
$hover-button-color: #fb236a;