//general variables
$regular-font: 'MonsterRat';
$italic-font: 'MonsterRatItalic';
$bold-font: 'MonsterRatBold';

$normal-color: #2e2e2e;
$medium-color: #888;
$highlighted-color: #8b91dd;
$button-color: #0f36a5;
$hover-button-color: #fb236a;
$dark-background: linear-gradient(90deg, rgba(244,243,255,1) 0%, rgba(203,196,255,1) 56%, rgba(185,180,209,1) 100%);
$light-background: #fcfdff;
$light-box-shadow: 0 0 30px #e2e2e2;
$dark-box-shaodw: 0 0 30px rgba(203,196,255,1);