<div class="categories-wrapper">
    <div class="side-menu-title">Kategóriák</div>
    <div class="side-menu-subtitle">Az oldalon szereplő állások ezekbe a kategóriákba tartozhatnak</div>
    <div class="category-container">
        <a [routerLink]="'/kategoria/'+category.id" class="category" *ngFor="let category of categories">
            <img class="category-image" src="/assets/images/test-icon.png">
            <div class="category-name">{{category.selectedTranslation.text}}</div>
            <div class="category-job-count">{{category.Jobs.length}} állás található ebben a kategóriában</div>
        </a>
    </div>
</div>