@import 'variables.scss';
@import 'mixins.scss';
@import 'page-with-side-menu.scss';

.my-jobs-container{
    width: 770px;
    background-color: white;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    padding: 30px;
    box-sizing: border-box;
}