@import 'variables.scss';
@import 'mixins.scss';

.registration-done-container{
    padding: 0 36px 16px 36px;
    position: relative;
}

.dialog-icon{
    font-size: 40px;
    width: 40px;
    height: 40px;
    margin: 0 auto 10px auto;
    display: block;
}

.dialog-text{
    font-size: 24px;
    font-family: $bold-font;
    line-height: 29px;
    text-align: center;
    margin-bottom: 20px;
}

.link-button{
    font-size: 16px;
    color: $highlighted-color;
    background-color: white;
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: $mobile-width) {
    div.registration-done-dialog{
        padding: 0;
    }
}