<div id="sweetjobs-profile-basic-info" class="basic-info-container">
    <div class="basic-info-title">{{basicInfoTitleText}}</div>
    <form [formGroup]="basicInfoForm" (ngSubmit)="saveInfos()" class="auth-form profile-form">
        <div class="form-field-wrapper" *ngFor="let element of basicInfoFormElements">
            <div [ngClass]="element.focus ? 'form-field-label-focused': 'form-field-label'">
                {{element.placeholder}}
            </div>
            <ng-container [ngSwitch]="element.fieldType">
                <div *ngSwitchCase="'textarea'" [ngClass]="element.focus ? 'form-field-focused': 'form-field'"
                    class="profile-form-textarea-field">
                    <textarea [id]="element.key" (focus)="element.focus = true" (focusout)="element.focus = false"
                        [formControlName]="element.key" [ngClass]="element.focus ? 'form-textarea-focused': 'form-textarea'"
                        *ngSwitchCase="'textarea'"></textarea>
                </div>
                <div *ngSwitchDefault [ngClass]="element.focus ? 'form-field-focused': 'form-field'"
                    class="profile-form-field">
                    <input *ngSwitchDefault [id]="element.key" [type]="element.type!" (focus)="element.focus = true"
                        (focusout)="element.focus = false" [formControlName]="element.key"
                        [ngClass]="element.focus ? 'form-input-focused': 'form-input'">
                </div>
            </ng-container>
        </div>
        <button class="submit-button profile-submit-button">{{sendButtonText}}</button>
    </form>
</div>