@import 'variables.scss';
@import 'mixins.scss';
@import 'page-with-side-menu.scss';
@import 'form.scss';

.profile-submit-button{
    margin-top: 20px;
}

.contact-title{
    margin-top: 30px;
}

.cv-file-form-field{
    margin: auto;
    width: 840px;
    display: grid;
    justify-content: center;
}