<div id="sweetjobs-profile-basic-info" class="side-menu-router-outlet-container" *ngIf="pageLoaded| async">
    <div class="side-menu-router-outlet-title">{{basicInfoTitleText}}</div>
    <form [formGroup]="basicInfoForm" (ngSubmit)="saveInfos()" class="form flex-form">
        <ng-container *ngFor="let element of basicInfoFormElements">
        <div class="form-field-wrapper" *ngIf="!element.hide">
                <div [ngClass]="element.focus ? 'form-field-label-focused': 'form-field-label'">
                    {{element.placeholder}}
                </div>
                <ng-container [ngSwitch]="element.fieldType">
                    <div *ngSwitchCase="'textarea'" [ngClass]="element.focus ? 'form-field-focused': 'form-field'"
                        class="form-field-full-width">
                        <textarea [id]="element.key" (focus)="element.focus = true" (focusout)="element.focus = false"
                            [formControlName]="element.key" [value]="element.value"
                            [ngClass]="element.focus ? 'form-textarea-focused': 'form-textarea'"
                            *ngSwitchCase="'textarea'"></textarea>
                    </div>
                    <div *ngSwitchCase="'file'" class="form-field-width flex-form cv-file-form-field">
                        <a target="_blank" [href]="cvUploadUrl ? '' : profileData.Profile.cvPath ? profileData.Profile.cvPath : ''" *ngIf="cvUrl" class="file-input-text">{{cvUrl}}</a>
                        <a (click)="cvUpload.click()"
                            class="submit-button little-button">{{element.placeholder}}</a>
                        <input (change)="handleCVPdf($event)" #cvUpload type="file" name="upload"
                            accept=".pdf" class="change-picture-input">
                    </div>
                    <div *ngSwitchDefault [ngClass]="element.focus ? 'form-field-focused': 'form-field'"
                        class="form-field-width">
                        <input *ngSwitchDefault [id]="element.key" [value]="element.value" [type]="element.type!"
                            (focus)="element.focus = true" (focusout)="element.focus = false"
                            [formControlName]="element.key" [ngClass]="element.focus ? 'form-input-focused': 'form-input'">
                    </div>
                </ng-container>
            </div>
        </ng-container>
        <button class="submit-button profile-submit-button">{{sendButtonText}}</button>
    </form>
</div>