@import 'variables.scss';

.site-layout-container{
    padding-top: 90px;
    min-height: 100vh;
    box-sizing: border-box;
    background: $light-background;
    position: relative;
    padding-bottom: 300px;
}

@media screen and (max-width: $mobile-width) {
    div.site-layout-container{
        padding-top: 70px;
        padding-bottom: 309px;
    }
}