<div id="home-register" class="home-regiter-wrapper">
    <div class="home-register-container">
        <ng-container *ngIf="isUserLoggedIn; else notLoggedIn">
            <div class="side-menu-title">{{profileTitle}}</div>
            <div class="side-menu-subtitle">{{profileSubtitle}}</div>
            <a routerLink="/profil" class="submit-button">{{profileButton}}</a>
        </ng-container>
        <ng-template #notLoggedIn>
            <div class="side-menu-title">{{registrationTitle}}</div>
            <div class="side-menu-subtitle">{{registrationSubtitle}}</div>
            <button (click)="openRegistrationDialog()" class="submit-button">{{registrationButton}}</button>
        </ng-template>
    </div>
</div>
