@import 'variables.scss';
@import 'mixins.scss';
@import 'form.scss';
@import 'search-form.scss';
@import './home-search-mobile.component.scss';


.search-wrapper{
    width: 100%;
    background: $dark-background;
}

.search-container{
    max-width: 1220px;
    padding: 150px 10px;
    margin: auto;
    box-sizing: border-box;
}

.search-title{
    font-size: 24px;
    font-family: $bold-font;
    line-height: 32px;
    margin-bottom: 10px;
}

.search-sub-title{
    font-size: 16px;
    font-family: $regular-font;
    color: $medium-color;
}

.input-width{
    width: 500px;
    padding: 20px 40px;
}

.search-form{
    margin: 50px 0;
    @include flex-container(space-between,center,20px);
}

.little-button{
    padding: 22px 20px;
}