@import 'variables.scss';
@import 'mixins.scss';

.profile-container{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    background-color: white;
    min-height:100px;
    margin-top: 50px;
    border-radius: 8px;
    padding: 30px 50px;
    box-sizing: border-box;
}

.profile-page-title{
    font-family: $bold-font;
    text-align: center;
}