<div id="profile-container" class="profile-container" *ngIf="profileData">
    <div class="profile-page-menu">
        <div class="no-profile-picture">
            {{monogram}}
            <mat-icon color="primary" class="update-profile-pic">camera_enhance</mat-icon>
            <mat-icon color="primary" class="delete-profile-pic">remove_circle_outline</mat-icon>
        </div>
        <div class="profile-name">{{profileData.firstName}} {{profileData.lastName}}</div>
        <div class="profile-job-title">{{profileData.firstName}}</div>
        <div class="profile-menus">
            <a class="profile-menu-item" routerLinkActive="active-profile-route" [routerLinkActiveOptions]="{ exact: true }" routerLink="/profil">Általános információk</a>
            <a class="profile-menu-item" routerLinkActive="active-profile-route" [routerLinkActiveOptions]="{ exact: true }" routerLink="/profil/kedvenc-allasok">Kedvelt állások</a>
            <a class="profile-menu-item" routerLinkActive="active-profile-route" [routerLinkActiveOptions]="{ exact: true }" routerLink="/profil/jelentkezett-allasok">Jelentkezett állások</a>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
