@import 'variables.scss';
@import 'mixins.scss';
@import '../auth-form.scss';

.registration-container{
    padding: 16px 36px;
    position: relative;
}

.role-selection-container{
    margin-top: 20px;
    @include flex-container(center,center,20px);
}

.role-element{
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px 25px;
    font-family: $regular-font;
    font-size: 16px;
    cursor: pointer;
    transition: color, background-color 0.2s ease-in-out;
}

.role-element:hover{
    border: 2px solid $hover-button-color;
}

.role-active{
    background-color: $hover-button-color;
    color: white;
    border: 2px solid $hover-button-color;
}

.registration-title{
    font-family: $bold-font;
    font-size: 30px;
    line-height: 34px;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: center;
    color: $normal-color;
}

.registration-subtitle{
    font-family: $regular-font;
    color: $normal-color;
    text-align: center;
}