<div id="sweetjobs-registration" class="registration-container" *ngIf="pageLoaded | async">
    <div class="close-button" (click)="closeDialog()">X</div>
    <div class="registration-title">{{regTitleText}}</div>
    <div class="registration-subtitle">{{regSubtitleText}}</div>
    <div *ngIf="isPasswordMismatch" class="response-error-message">
        <div>{{passwordMismatchErrorText}}</div>
        <button class="close-error-message" (click)="closeErrorMessage()">X</button>
    </div>
    <div *ngIf="isRoleMissing" class="response-error-message">
        <div>{{missingRoleErrorText}}</div>
        <button class="close-error-message" (click)="closeErrorMessage()">X</button>
    </div>
    <div *ngIf="isEmailAlreadyExist" class="response-error-message">
        <div>{{emailAlreadyExistErrorText}}</div>
        <button class="close-error-message" (click)="closeErrorMessage()">X</button>
    </div>
    <div class="role-selection-container">
        <div class="role-element" *ngFor="let role of roles" [ngClass]="role.isRoleSelected ? 'role-active' : ''" (click)="setRoleActive(role)">{{role.selectedTranslation.name}}</div>
    </div>
    <form [formGroup]="registrationForm" (ngSubmit)="register()" class="form">
        <div class="form-field-wrapper" *ngFor="let element of registrationFormElements">
            <div [ngClass]="element.focus ? 'form-field-focused': 'form-field'">
                <input [id]="element.key" [type]="element.type!" (focus)="element.focus = true" (focusout)="element.focus = false" [placeholder]="element.placeholder" [formControlName]="element.key" [ngClass]="element.focus ? 'form-input-focused': 'form-input'">
            </div>
            <div class="required-error-message" *ngIf="isUserClicked && registrationForm.controls[element.key].hasError('required')">{{element.placeholder}} {{requiredFieldErrorText}}</div>
            <div class="required-error-message" *ngIf="isUserClicked && registrationForm.controls[element.key].hasError('email')">{{wrongEmailFormatErrorText}}</div>
        </div>
        <button class="submit-button">{{sendButtonText}}</button>
    </form>
</div>
