<div id="sweetjobs-profile-basic-info" class="basic-info-container">
    <div class="basic-info-title contact-title">{{contactInfoTitleText}}</div>
    <form [formGroup]="contactInfoForm" (ngSubmit)="saveInfos()" class="auth-form profile-form">
        <div class="form-field-wrapper" *ngFor="let element of contactInfoFormElements">
            <div [ngClass]="element.focus ? 'form-field-label-focused': 'form-field-label'">{{element.placeholder}}
            </div>
            <div [ngClass]="element.focus ? 'form-field-focused': 'form-field'" class="profile-form-field">
                <input [id]="element.key" [value]="element.value" [type]="element.type!" (focus)="element.focus = true"
                    (focusout)="element.focus = false" [formControlName]="element.key"
                    [ngClass]="element.focus ? 'form-input-focused': 'form-input'">
            </div>
        </div>
        <button class="submit-button profile-submit-button">{{sendButtonText}}</button>
    </form>
</div>