<div id="employer-jobs" class="page-container-with-side-menu">
    <div class="side-menu-container">
        <img src="/assets/images/suitcase.jpg" class="side-menu-logo">
        <div class="side-menu-title">Álláshirdetéseim</div>
        <div class="job-menu-routes">
            <a class="side-menu-item" routerLinkActive="active-side-menu-item"
            [routerLinkActiveOptions]="{ exact: true }" routerLink=".">Hirdetéseim</a>
            <a class="side-menu-item" routerLinkActive="active-side-menu-item"
                [routerLinkActiveOptions]="{ exact: true }" routerLink="letrehozas">Állás létrehozása</a>
            <a class="side-menu-item" routerLinkActive="active-side-menu-item"
                [routerLinkActiveOptions]="{ exact: true }" routerLink="modositas">Állás módosítása</a>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
