@import 'variables.scss';
@import 'mixins.scss';

.job-container{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    min-height:100px;
    margin-top: 30px;
    border-radius: 8px;
    padding: 30px 0px;
    box-sizing: border-box;
    @include flex-container(space-between,flex-start, 30px);
}

.job-menu-container{
    max-width: 340px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    padding: 30px 0;
    box-sizing: border-box;
    height: 100%;
}

.job-menu-title{
    font-family: $bold-font;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.work-logo{
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: auto;
}

.job-menu-item{
    padding: 15px 30px;
    font-family: $regular-font;
    color: $normal-color;
    display: block;
    text-decoration: none;
    transition: padding-left 0.3s ease-in-out;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.active-job-route{
    background-color: rgba($highlighted-color, 0.2);
    font-family: $bold-font;
    border-left: 3px solid $highlighted-color;
    color: $highlighted-color;
}

.job-menu-item:hover{
    background-color: rgba($highlighted-color, 0.2);
    font-family: $bold-font;
    border-left: 3px solid $highlighted-color;
    color: $highlighted-color;
    padding-left: 40px;
}