<ng-container *ngIf="pageLoaded | async">
    <app-home-search [titleText]="searchTitleText" [subtitleText]="searchSubtitleText"
        [submitButtonText]="searchSubmitButtonText" [searchTermElement]="searchTermElement"
        [categoriesDropDown]="categoriesDropDown" [categories]="categories">
    </app-home-search>
    <app-home-categories [categoryTitle]="categoryTitleText" [categorySubtitle]="categorySubtitleText"
        [categoryJobCountText]="categoryJobCountText" [allCategoryButtonText]="allCategoryButtonText"
        [categories]="homeCategories"></app-home-categories>
    <app-home-register [registrationTitle]="registrationTitleText" [registrationSubtitle]="registrationSubtitleText"
        [registrationButton]="registrationButtonText" [profileTitle]="profileTitleText"
        [profileSubtitle]="profileSubtitleText" [profileButton]="profileButtonText"></app-home-register>
    <app-home-jobs [jobsTitleText]="jobsTitleText" [jobsSubtitleText]="jobsSubtitleText" [jobs]="jobs"
        [allJobButtonText]="allJobButtonText"></app-home-jobs>
</ng-container>